/* Global Classes */
.title {
  color: var(--light-yellow);
  font-weight: bold;
  font-style: italic;

  text-align: left;

  padding: 0.5rem;
}

.content {
  color: aliceblue;
  font-size: medium;

  text-align: left;

  padding: 0.5rem;
}