/* Global Classes */
.title {
  color: var(--light-yellow);
  font-weight: bold;
  font-style: italic;

  text-align: left;

  padding: 0.5rem;
}

.content {
  color: aliceblue;
  font-size: medium;

  text-align: left;

  padding: 0.5rem;
}

.cat-photo {
  width: clamp(180px, 30%, 280px);
  height: auto;

  border-radius: 15px;
  border: solid 2px var(--washed-purple);

  margin: 0.5rem;

  margin-top: -1rem;
}